.img_container {
  overflow: hidden;
  position: relative;
  height: 92vh;
  z-index: -1;
}

.img_container img {
  position: absolute;
  bottom: 0;
  height: 100%;
  right: 0;
}

@media only screen and (max-width: 992px) {
  .img_container img {
    right: 0;
  }
}

@media only screen and (max-width: 992px) {
  .img_container {
    display: none;
  }
}
